[2014-02-01 12:07] jodal opened #1 "What's the difference between Mopidy-Stream and Mopidy-Podcast?"
The readme doesn't clearly tell what's the advantage of Mopidy-Podcast over Mopidy-Stream.

[2014-02-01 18:48] #1 closed, assigned to nobody

[2014-04-09 16:29] tkem opened #2 "Support <itunes:order>"
From [https://www.apple.com/itunes/podcasts/specs.html#order]:

[2014-04-09 16:37] tkem opened #3 "Filter feed items by media type/extension"
From [https://www.apple.com/itunes/podcasts/specs.html#common-tags]:

[...]

| File | Type |
| --- | --- |
| .mp3 | audio/mpeg |
| .m4a | audio/x-m4a |
| .mp4 | video/mp4 |
| .m4v | video/x-m4v |
| .mov | video/quicktime |
| .pdf | application/pdf |
| .epub | document/x-epub |

[2014-04-09 16:41] tkem opened #4 "Support <itunes:image>"
From [https://www.apple.com/itunes/podcasts/specs.html#image]:

[...]

[2014-04-09 16:45] tkem opened #5 "Support <itunes:category> subcategories"
From [https://www.apple.com/itunes/podcasts/specs.html#category]:

Currently, only the top level `<itunes:category>` is examined in `Podcast.parse()`.

[2014-04-09 16:54] tkem opened #6 "Add Track comment field"
Setting `Track.comment` to the episode's `<description>` has been disabled in v0.4.0, since `<description>` often contains CDATA sections with HTML or other non-wellformed data, and this seems to crash (at least) GMPC rather often.

So before adding them as comment fields, these should probably be cleaned up somehow. Another option would be using `<itunes:subtitle>` or `<itunes:summary>` for `Trac

[2014-04-09 17:04] tkem opened #7 "Improve podcast URI scheme"
The `podcast:` URI handling is a mess. It would be clearer (and probably more efficient) if an SVN-like scheme could be applied, e.g.:
- `podcast://feeds/`
- `podcast://itunes/Technology`
- `podcast+http://www.example.com/mypodcast.rss`
- `podcast+https://www.example.com/podcasts?id=008154711`

However, using multiple URI schemes with a browsable backend currently has some ugly some side effects (

[2014-04-20 04:06] tkem opened #8 "Add uri parameter to PodcastDirectory.search()"
Currently, the `uris` parameter to PodcastLibraryProvider.search() is ignored, which yields incorrect results if a client supports searching within a directory obtained by browsing, for example. As a first step, PodcastDirectoryController should evaluate `uris` if set, and delegate to the respective directory proxies only. Implementations could then evaluate the uris, and limit search to respectiv

[2014-04-21 08:55] tkem opened #9 "Add uri property to Podcast and Episode models"
For consistency with other Mopidy models which have a corresponding Ref, Podcast and Episode should have a uri property. Restrictions as stated for Refs should also apply.

[2014-04-21 09:37] tkem opened #10 "Consider making Podcast.Image and Episode.Enclosure proper models"
Image should be supported for episodes, too, when supporting itunes:image, and thus cannot be a nested type any more. Remaining question is whether a `uri` property should be provided, or if it's better to stick with the original `url`/`href`. Episode.Enclosure should be handled the same way for consistency.

[2014-05-02 05:50] tkem opened #11 "Use Mopidy's default data types for pubdate and duration"
To ease conversion to Mopidy `Album`s and `Track`s,
- use ISO timestamps for `pubdate`
- use milliseconds for `Episode.duration`

[2014-05-09 14:44] tkem opened #12 "Add PodcastDirectory.uri_schemes"
Add an optional property `uri_schemes` to PodcastDirectory, similar to Mopidy's `Backend.uri_schemes`. The `feeds` directory should list (at least) `http`, `https` and `file`, thus no special handling for feeds URIs will be necessary,

[2014-05-09 16:23] tkem opened #13 "Make search results level of detail configurable"
Currently, search results for podcasts (albums) only provide URI and name/title for performance reasons, while episodes (tracks) provide all properties (mostly because they tend to be rare with current podcast directory implementations, but also because they will probably be "looked up" anyway).

This should be handled consistently and be made a configuration option, so the user can choose between

[2014-05-09 18:15] tkem opened #14 "Support additional podcast/episode properties"
Possibly useful tags from [https://www.apple.com/itunes/podcasts/specs.html#rss] that may be mapped to `Podcast` or `Episode` properties:
- `<itunes:block>`: prevent an episode or podcast from appearing
- `<itunes:new-feed-url>`: used to inform iTunes of new feed URL location

Other tags currently not supported, that either have limited use in Mopidy-Podcast, or duplicate information already avail

[2014-05-23 15:05] #11 closed, assigned to tkem

[2014-05-24 13:19] #4 closed, assigned to tkem

[2014-05-24 13:19] #8 closed, assigned to tkem

[2014-05-24 13:19] #9 closed, assigned to tkem

[2014-05-24 13:19] #10 closed, assigned to tkem

[2014-05-24 13:19] #12 closed, assigned to tkem

[2014-05-24 13:20] #13 closed, assigned to tkem

[2014-05-24 13:20] #14 closed, assigned to tkem

[2014-05-24 13:23] #6 closed, assigned to tkem

[2014-07-16 19:39] tkem opened #15 "Remove uritools.py, cachetools.py"
Now that we have our own Debian repo, we should not include them but add proper dependencies to setup.py.

[2014-10-09 17:06] tkem opened #16 "Report Podcasts as Albums when Browsing"
Since Mopidy v0.19 supports browsing `Ref.ALBUM` types, podcasts should be reported as such.

[2014-10-10 08:45] tkem opened #17 "Support for Podcast/Episode attributes explicit, block, complete, newfeedurl"
- Explicit and blocked podcasts and episodes should be optionally filtered in the library (new config values). The iTunes extension can reuse the explicit setting from the Mopidy-Podcast configuration.
- Complete podcasts should be excluded from refreshing in the feeds directory.
- The `newfeedurl` property should be used in the feeds directory to updates podcast locations; a change of location sh

[2014-11-15 12:04] #15 closed, assigned to nobody

[2014-11-15 12:17] #16 closed, assigned to nobody

[2014-11-15 14:36] tkem opened #18 "Update unit tests"
Looks like Apple updated their podcast specs, including a new example RSS feed at https://www.apple.com/itunes/podcasts/specs.html

[2014-11-16 07:55] tkem opened #19 "Subscribed feeds as playlists?"
Would provide better separation of concerns between the feeds directory and extensions. Playlists also have better support for asynchronous update.

[2014-11-22 07:04] #19 closed, assigned to nobody

[2014-11-22 15:35] #7 closed, assigned to tkem

[2014-11-22 20:10] #18 closed, assigned to nobody

[2015-03-22 05:27] tkem opened #20 "Remove search query "normalization""
Actually hides client bugs, and should better be handled in core as per mopidy/mopidy#1067.

[2015-03-25 05:03] tkem opened #21 "Prepare for Mopidy v1.0 exact search API"
See mopidy/mopidy#1081.

[2015-03-25 05:36] tkem commented on #20
Re-think the whole query handling, and try to get rid of the `Query` class.

[2015-03-25 05:42] #21 closed

[2015-03-25 06:01] tkem opened #22 "Cache feeds in SQLite database"
This way, it's no longer necessary to load all feeds after a restart.
Might also help getting rid of the utterly complex PodcastDirectoryController...

[2015-03-25 06:02] tkem opened #23 "Support library.get_images()"
Also use the Mopidy v1.0 `Images` model.

[2015-06-01 09:16] bjo81 opened #24 "Support OPML files"
The current procedure for adding feeds is a little annoying. It would be a great feature if mopidy-podcast could scan a directory defined in the config where OPML files can be placed.

[2015-06-03 05:50] tkem commented on #20
Moving to SQLite for local feeds will solve this partially, at least.

[2015-06-03 05:55] tkem commented on #24
I don't know anything about OPML and I don't use it, so this isn't something I'm planning to do any time soon. Contributions are welcome, of course.

[2015-06-03 06:00] tkem commented on #22
We might also cache the actual streams on disk, but that can wait until v1.3.5

[2015-06-16 00:16] Mebus opened #25 "Playback stops before end of podcast"
Hallo,

I am using mopidy-podcast with the WDR5 Leonardo Podcast:

http://www1.wdr.de/radio/podcasts/wdr5/leonardo302.podcast

on a raspberry pi. But the playback of the podcast always stops before the actual end.

Is this a bug? Can this be fixed?

Mebus

[2015-06-16 05:22] tkem commented on #25
Is there any log output?

[2015-06-16 08:53] Mebus commented on #25
In the mopidy.log file this was logged after I started the podcast and before it stopped playing:

2015-06-16 08:50:29,746 WARNING [2723:MainThread] mopidy.audio.gst: Das Element kann diesen Datenstrom nicht verarbeiten. Bitte schicken Sie einen Fehlerbericht.
2015-06-16 08:50:30,287 INFO [2723:HttpServer] root: 200 GET /musicbox_webclient/images/icons/play_alt_12x12.png (127.0.0.1) 56.94ms

Mebus

[2015-06-16 18:07] tkem commented on #25
This isn't caused by Mopidy-Podcast, but looks more like a gstreamer issue. Either you're missing a gstreamer plugin, or the stream cannot be handled by gstreamer-0.10 used by Mopidy core.

There's some information on debugging gstreamer problems in the Mopidy docs [https://docs.mopidy.com/en/latest/troubleshooting/?highlight=gstreamer], but I'd suggest you post this in the Mopidy discussion forum

[2015-06-16 18:07] #25 closed

[2015-08-27 12:44] tkem opened #26 "Podcast lookup failed with Mopidy v1.1"
[code]

[2015-08-27 17:32] tkem commented on #26
Of course this is due to Mopidy v1.1 changes to `mopidy.models`, which now requires model fields to be `mopidy.models.fields`. Bummer.

[2015-08-27 17:44] adamcik commented on #26
Hmm, I though I made this work in backwards compatible way for your custom models. Did I miss some corner case?

[2015-08-27 18:50] tkem commented on #26
@adamcik: I was confused. You're right. Good job regarding backward compat by the way ;-)

[2015-08-27 18:55] tkem commented on #26
Apparently, Mopidy < v1.1 accepted generators passed as multi-valued model properties.

[2015-08-27 19:00] #26 closed

[2015-08-27 19:24] tkem opened #27 "Use mopidy.models.field in custom models"
Depend on Mopidy >= 1.1

[2015-09-04 20:02] deisi opened #28 "No Podcasts shown"
Hi

I don't know if this is the right place to ask, but apparently I'm not able to get mopidy-podcast up and running. My mopidy.config contains:

    [podcast]
    enabled = true
    #browse_limit = 100
    #search_limit = 20
    search_details = on
    #update_interval = 86400
    feeds =
        http://www.radioeins.de/archiv/podcast/zwei_alte_hasen.feed.podcast.xml
        http://www1.wdr.de/ra

[2015-09-04 20:14] tkem commented on #28
Hi @deisi,

first place to ask should usually be http://discuss.mopidy.com.
What version if Mopidy and Mopidy-Podcast are you using? If you're running Mopidy v1.1, you should definitely upgrade Mopidy-Podcast to the latest version. There's a known bug in Mopidy-Podcast that sounds quite like this.

Otherwise, please have a look at the Mopidy logs, and post them here if anything looks suspicious. S

[2015-09-05 07:16] deisi commented on #28
I use Mopidy 1.1.0 and mopidy-podcast i cloned from git and installed with

    python2 setup.py build
    python2 setup.py install

http://pastebin.com/XkzQ5arW here is a mopidy.log from my setup but I don't see anything in there.

[2015-09-05 07:40] tkem commented on #28
Ah, OK ;-)
Was completely baffled first, since I copy-pasted your config into my own `mopidy.conf` and I could browse without problems. But then I had a look at your logs and saw you had Moped installed...
Would you please try another Web and/or MPD client and see if the problem persists. I tried Mopidy-Mobile, MusicBox WebClient, mpc and ncmpcpp, and they all seem to work.

[2015-09-06 17:44] deisi commented on #28
Here we go. Now its working. Thanks a lot. Never would have thought of this.

[2015-09-06 17:48] #28 closed

[2015-09-06 17:58] tkem commented on #28
Good. If you'd like Moped to work with this, I'd kindly suggest you file a bug report on https://github.com/martijnboland/moped/issues.

[2015-09-07 10:03] deisi commented on #28
Okay I will do it this evening.

[2015-09-07 16:06] deisi commented on #28
[here](https://github.com/martijnboland/moped/issues/56) is the link to the issue in the moped issue tracker.

[2015-09-07 17:50] tkem commented on #28
Great, thanks a lot! I don't know about the state of Moped development, but if this works with multiple other clients, this may be something the developer(s) may want to look into...

[2015-09-28 20:28] aspence opened #29 "BBC Podcast RSS URLs"
Thanks again for a wonderful extension.

I'm having trouble with a BBC Podcast feed. I'm using pimusicbox 0.6, which I believe relies on this extension. I have this in my /boot/config/settings.ini:

feeds = "http://www.bbc.co.uk/programmes/p002vsnk/episodes/downloads.rss, http://www.npr.org/templates/rss/podcast.php?id=500005, http://www.npr.org/rss/rss.php?id=3"

in the [ podcasts ] section.

The

[2015-09-28 20:36] tkem commented on #29
Music box does us an old version, indeed, and trying to update Mopidy-Podcast may have undesirable side effects, so I wouldn't recommend it.
I'll have a look at your BBC podcast tomorrow (CET).

[2015-09-28 20:48] aspence commented on #29
thank you!

--
Dr. Andrew Spence
Associate Professor
Department of Bioengineering
Engineering Building Room 814
College of Engineering
Temple University
1947 N. 12th St.
Philadelphia, PA 19122
Phone: 215-204-3056
Email: aspence@temple.edu
www.spencelab.com

On Sep 28, 2015, at 4:36 PM, Thomas Kemmer <notifications@github.com> wrote:

[2015-09-29 04:37] tkem commented on #29
I tried http://www.bbc.co.uk/programmes/p002vsnk/episodes/downloads.rss with current versions of Mopidy and Mopidy-Podcast and it plays just fine.
I'm not an expert on the musicbox `settings.ini` format, but looking at the default settings in https://github.com/pimusicbox/pimusicbox/blob/develop/filechanges/boot/config/settings.ini I think you don't use quotation marks when specifying multiple par

[2015-09-30 02:31] aspence commented on #29
genius!

removed quotes, comma only, single line:

feeds = http://www.bbc.co.uk/programmes/p002vsnk/episodes/downloads.rss, http://www.npr.org/templates/rss/podcast.php?id=500005, http://www.npr.org/templates/rss/podlayer.php?=3

works a treat.

thanks for taking a look so quickly.

cheers!

On Sep 29, 2015, at 12:37 AM, Thomas Kemmer <notifications@github.com> wrote:

[2015-09-30 06:14] #29 closed

[2015-11-18 14:18] jodal opened #30 "v1.1.2 tag missing"
The v1.1.2 tag is missing. Maybe you forgot to push it?

[2015-11-18 14:36] tkem commented on #30
Indeed, thanks. Will do.

[2015-11-18 18:24] tkem commented on #30
Tagged.

[2015-11-18 18:24] #30 closed

[2015-12-14 18:55] kdbdallas opened #31 "Cannot access Cloudfare-hosted podcasts via HTTPS"
Everything works great until I pass it a URL of a podcast that is being hosted behind https.
Then it won't load and spits out HTTP Error 403: Forbidden errors.
However if I try loading it in my browser or pulling it with wget it pulls down just fine.
An example podcast/url is: https://www.relay.fm/radar/feed
Unfortunately it is not available in non-SSL so just going that route is not an option (pl

[2015-12-14 19:25] tkem commented on #31
Strange. However, I doubt this has something to do with HTTPS, but more probably with the relay.fm server, since

- if it was an HTTPS problem, you'd probably get no connection at all instead of a 403 error, except maybe if Mopidy-Podcast was using plain HTTP maybe, which AFAICS it isn't.

- accessing other podcasts using HTTPS seem to work, for example https://isc.sans.edu/dailypodcast.xml (just

[2015-12-14 19:50] kdbdallas commented on #31
I will talk to him and see if he will debug it with me.
Thanks!

[2015-12-14 19:53] tkem commented on #31
Well, couldn't resist, and it looks like relay.fm is using Cloudfare which apparently has some issues with Python's `urllib` which Mopidy-Podcast uses for retrieving RSS feeds:
[code]
Just google "cloudfare blocking urllib" or something like that, and you will get quite a few results, some suggesting to turn of Cloudfare's browser checking, and some saying that this was a bug that has already been

[2016-01-22 14:43] tkem commented on #31
Not much we can do here, I guess...

[2016-01-22 14:43] #31 closed

[2016-01-22 14:46] tkem opened #32 "Split feeds directory from mopidy-podcast"
For mopidy-podcast v2.0, it might be desirable to make mopidy-podcast-feeds a separate extension, especially with regards to SQLite, caching, etc.
Bumping the version to v2.0 also makes it possible to have some internal API changes.

[2016-01-22 14:48] tkem commented on #24
Closing since, since it met no response.

[2016-01-30 15:41] tkem commented on #5
Not sure what to do with sub-categories in the context of a Mopidy extension, so closing this.

[2016-01-30 15:41] #5 closed

[2016-01-30 15:42] tkem commented on #22
WIll be implemented as separate extension https://github.com/tkem/mopidy-podcast-feeds.

[2016-01-30 15:42] #22 closed

[2016-01-31 09:06] tkem opened #33 "Remove Podcast Directory API"
- Require directories to be Pykka actors: thus we can get rid if the overly complex  controller, and the new feeds directory can cleanly stop its own update actor.
- Remove `get()` and `uri_schemes`: Handling of actual podcast s is delegated to the `podcast` extension itself, similar to `streams `.
- Add `Query` and `Term` models.
- Add `offset` to browse/search methods: not used yet by library, b

[2016-02-05 09:51] tkem commented on #33
Also start using episode GUIDs instead of media object URLs; while URLs may change, e.g. when episodes are transferred to a different server, GUIDs are meant to remain stable. This is especially important when adding podcast episodes to playlists.
Note that `playback` will also have to be adapted accordingly.

[2016-02-29 05:41] tkem commented on #24
This will finally be implemented for Mopidy-Podcast v2.0 ;-)

[2016-02-29 05:42] tkem commented on #33
Since the directory API proved to be way too complex to support, it's now officially deprecated and will no longer be available with Mopidy-Podcast v2.0.

[2016-02-29 05:43] #32 closed

[2016-02-29 05:44] tkem opened #34 "Support library.get_distinct()"
With subscribed podcasts backed by an SQLite database in Mopidy-Podcast v2.0, this becomes feasible.

[2016-03-23 19:01] tkem commented on #34
SQLite database wasn't implemented in v2.0.

[2016-03-23 19:01] #34 closed

[2016-03-23 19:01] #33 closed

[2016-03-23 19:02] tkem commented on #27
Custom models have been dropped from Mopidy-Podcast v2.0.

[2016-03-23 19:02] #27 closed

[2016-03-23 19:02] #24 closed

[2016-03-23 19:02] #23 closed

[2016-03-23 19:03] tkem commented on #20
Removed search support altogether in Mopidy-Podcast v2.0.

[2016-03-23 19:03] #20 closed

[2016-03-23 19:04] tkem opened #35 "Support for Atom feeds."
http://www.ibm.com/developerworks/library/x-atom10/ contains some information on using Atom for podcasting, with alternative media types.
Would need a real-world example, though. Probably not worth the effort.

[2016-03-27 21:08] tkem commented on #2
Would need real-life examples to see how this is used in practice, especially with regard to `browse_order` and `lookup_order`.

[2016-03-27 21:10] tkem commented on #17
Still relevant for v2.0?

[2016-03-27 21:15] tkem commented on #17
`newfeedurl` could generate a warning message, so people could upgrade their OPML files/playlists. This could be done in the `RssFeed` constructor.

[2016-03-27 21:19] tkem commented on #17
`explicit` would probably have to be handled in the `PlaybackProvider`, too, for episode URIs coming from other extensions/playlists/clients.

[2016-05-07 17:01] tkem opened #36 "Create Debian package for Mopidy-Podcast v2.0."
@jodal: would be awesome if you could find the time, especially since the `mopidy-podcast` version on `apt.mopidy.com` now differs considerably from what's described on http://mopidy-podcast.readthedocs.io/en/latest/...

[2016-05-09 13:51] jodal commented on #36
What's the required changes?

- New version
- Breaks/deprecates mopidy-podcast-gpodder and mopidy-podcast-itunes
- Should create `/etc/mopidy/podcast` directory, no config change required

[2016-05-09 14:16] tkem commented on #36
mopidy-podcast-gpodder has been officially deprecated and won't be maintained any longer (at least not by me). Question is how to deal with such a situation wrt. Debian packages. How did you deal with Mopidy-Local-Whoosh? Were there ever Debian packages prepared for that?

As for mopidy-podcast-itunes, v2.0.0 (if packaged) will work with mopidy-podcast v2.0.

Frankly, I'm not sure how to express t

[2016-05-19 09:52] vasyugan opened #37 "Mopidy fails to download rss: 403"
For some reason, the RSS http://www.freie-radios.net/portal/podcast.php?rss fails in Mopidy-Podcast. I can view the RSS in a browser just fine and it also works in BeyondPod:

 ERROR    Error loading podcast http://www.freie-radios.net/portal/podcast.php?rss: HTTP Error 403: Forbidden

I also get a timeout for  http://downloads.bbc.co.uk/podcasts/worldservice/docarchive/rss.xml, which when loaded

[2016-05-19 10:24] tkem commented on #37
First issue: Bad luck. If the server for whatever reason denies access to Mopidy-Podcast, there's little we can do.
Second issue what happens when you try to access the podcast using the "final" URL?

[2016-05-19 10:39] vasyugan commented on #37
tkem, I don't think that any server especially denies Mopidy-Podcasts access while allowing everyone else. Well how can I test this? What is the user-agent string mopidy-podcast uses? If they really deny access to that particular user agent, it should be reproducible.
Second issue: When I use the final URL it is ok.

[2016-05-19 10:49] tkem commented on #37
@vasyugan: Of course not, but if servers deny access to certain clients, e.g. based on user-agent, then they (hopefully) have valid reasons and surely the right to do so. IIRC, #31 was a similar issue; don't know what happened with that, though.

Starting with Mopidy-Podcast v2.0, the User-Agent is as provided by `mopidy.httpclient`: http://mopidy.readthedocs.io/en/latest/api/httpclient/
And no, I

[2016-05-19 10:55] vasyugan commented on #37
tkem, I just asked you for the user agent string to test it. wget allows to specify a custom user agent with the -u switch. If the server really denies that agent, this should be reproducible. From the link you have provided I have unfortunately been unable to guess how the user agent string looks like. Anyway, I'll write to the webmaster of freie-radios.net and see if they respond.

[2016-05-19 11:11] vasyugan commented on #37
I should note, that this is not a cloudflare server, according to the HTTP headers, it's an Apache 2.2.22. Well, anyway, I hope they will respond

[2016-05-19 11:17] tkem commented on #37
@vasyugan: as the docs say, the actual user-agent string depends on the respective versions of Mopidy and Mopidy-Podcast, as well as your Python interpreter. For e.g. Mopidy-Podcast v2.0.0, it can be retrieved like this:
[code]

[2016-05-19 13:11] vasyugan commented on #37
I have contacted the hosters and apparently they had blacklisted python-urllib as a bad user agent. They removed it from the list, now it works. Which indicates that the HTTP client does not send the mopidy user agent but the standard one from python urllib. This is what they found in the server log:

[my IP Address] 9 - - [19/May/2016:14:11:55 +0200] "GET /portal/podcast.php?rss HTTP/1.1" 403 491

[2016-05-19 13:25] tkem commented on #37
@vasyugan: Which Mopidy-Podcast version are you using? Versions <2.0 send the standard urllib header.

[2016-05-19 13:55] vasyugan commented on #37
the version, which is in the AUR of Arch Linux: 1.1.2

https://aur.archlinux.org/packages/mopidy-podcast

[2016-05-19 14:25] tkem commented on #37
Regarding issue #2: I tried the BBC redirect URL, and it seems to be really slow... I had to set the `timeout` config value to 30 in Mopidy-Podcast v2.0 to get it working. For Mopidy-Podcast v1.1.2, setting `feeds_timeout` should have a similar effect, but I haven't tested this.

[2016-05-19 14:25] #37 closed

[2016-05-19 14:37] vasyugan commented on #37
flagged mopidy-podcast in the AUR out-of-date

[2016-05-19 20:13] tkem commented on #36
Thinking a little more about this, mopidy-podcast v2.0 actually `Replaces` mopidy-podcast-gpodder, since most of its current/previous functionality can be achieved by putting links to gpodder.net in your `Podcasts.opml`. So this may be the way to go.

[2016-06-12 20:12] tkem opened #38 "Add simple OPML example to docs"
See https://discuss.mopidy.com/t/request-for-comments-the-future-of-mopidy-podcast/1130/

[2016-06-12 20:14] tkem opened #39 "Remove PyPI downloads badge from README"
Download counts seem to be no longer supported, and have always had limited significance, anyway.

[2016-08-05 08:05] tkem commented on #36
Having another look at the Debian Policy manual, I think this should do it:
[code]
If I understand correctly, people who installed gpodder will have to uninstall it manually before upgrading, which is probably OK.

[2016-08-07 21:35] jodal commented on #39
:+1:, removed from cookiecutter-mopidy-ext today.

[2016-08-07 22:59] jodal commented on #36
New packages have now been uploaded. Source has moved to:

- https://anonscm.debian.org/git/pkg-mopidy/mopidy-podcast.git/
- https://anonscm.debian.org/git/pkg-mopidy/mopidy-podcast-itunes.git/

[2016-08-08 11:36] tkem commented on #36
Great, thanks!

[2016-08-08 11:36] #36 closed

[2016-08-08 20:36] #38 closed

[2016-08-08 20:36] #39 closed

[2016-08-13 17:00] tkem opened #41 "Support TuneIn/RadioTime "audio" OPML type"
https://github.com/brianhornsby/plugin.audio.tuneinradio/wiki/RadioTime-API-Methods:-Browse

[2016-10-09 19:15] tkem opened #42 "Skip cache for local feeds"
It may be preferable to _not_ cache local files, like the "root" OPML file, so changes are available immediately.
This would require bypassing `PodcastFeedCache` on a per-scheme basis or changing the current implementation to selectively store values in `__missing__` (requiring `cachetools` >= 2).

[2016-10-10 10:28] jjok commented on #42
I think skipping the cache altogether would make most sense. Wouldn't it?

[2016-10-10 10:30] tkem commented on #42
@jjok: No.

[2016-11-13 07:12] tkem opened #43 "Support for multiple root OPML files"
Currently, one can only specify a single file as `browse_root`. It may be convenient to set a directory containing multiple OPML files (or other feed types) from different sources. To avoid excessive parsing, `Ref`s should use file names.

[2016-12-04 20:46] jjok commented on #35
Hey. I guess Atom feeds still aren't supported? I've been trying to work out why this one wasn't working.

https://phptownhall.com/feed.xml

Should it just be a case of adding a new `AtomFeed` class to `feeds.py`?

[2016-12-04 20:52] tkem commented on #35
Basically, yes. Shouldn't be such a big deal, but atom feeds never really became that popular, so I still don't know if it's worth the effort.

[2017-10-12 02:53] gerroon opened #44 "Found podcast configuration errors, the extension has been automatically disabled:"
Hi

Mopidy 2.1 on Debian Testing.

I do not understand these erros, I copied the default config from the doc site and pasted in mopidy config :(

It is literally the default config. I disabled all other to test it out (except those 2) and Is till get error.

Is this a version issue?

thanks

WARNING  Found podcast configuration errors, the extension has been automatically disabled:
WARNING    podc

[2017-10-12 02:56] gerroon opened #45 "ERROR Podcast lookup failed for"
Mopidy 2.1 Debian Testing

Icant play any podcast whatsoever browsing Itunes or GPodder. I am either hitting non existing shows or there is an issue with the podcasts browser.

I only have

[podcast]
enabled = true

Other options throws errors like I mentioned in the previous bug.

ERROR    Podcast lookup failed for podcast+http://feeds.podtrac.com/zKq6WZZLTlbM#https://dts.podtrac.com/redirect.mp3

[2017-10-12 07:36] tkem commented on #44
Does this also happen on Debian stable?

[2017-10-12 07:41] tkem commented on #45
Which version of mopidy-podcast are you using? GPodder support has been dropped as of mopidy-podcast v2.0.

[2017-10-12 07:50] tkem commented on #45
Also the URI scheme has changed, using episode GUIDs instead of enclosure URLs for fragments.

[2017-10-12 14:04] gerroon commented on #44
@tkem I would not know that because I only have Testing

[2017-10-12 14:05] gerroon commented on #45
I am using the podcast addons browser, these are not my own podcasts.

How do I tell which version of podcast I am running?

[2017-10-12 15:29] tkem commented on #45
https://docs.mopidy.com/en/latest/troubleshooting/#show-installed-dependencies

[2017-10-13 14:25] jjok commented on #44
Where did you get the default configuration from?

You can see the expected configuration for the latest version here: https://github.com/tkem/mopidy-podcast/blob/master/mopidy_podcast/ext.conf

The warnings say that your config doesn't have `browse_root` or `browse_order`.

[2017-10-13 16:43] tkem commented on #44
Thanks @jjok - I didn't read much further then "Debian testing" ;-)

@gerroon: There's no need to paste an extension's default configuration into `mopidy.conf` - these are included in the extension package itself. Only if you want to change some settings, these can be overridden in `mopidy.conf`.

[2017-10-13 16:43] #44 closed

[2017-10-13 19:59] gerroon commented on #44
@jjok

This is where I got from

https://mopidy-podcast.readthedocs.io/en/latest/config.html

[2017-10-13 20:01] gerroon commented on #44
@tkem
Still, even adding only a single config line for the podcast addon makes the addon disabled. Either my python has some issues with what the actual code wants or I am just a stupid dumb duck.

[2017-10-13 20:20] tkem commented on #44
Well, what version of mopidy-podcast do you actually have installed? If it's <2.0, adding these settings to your mopidy.conf won't work, since they were added in v2.0, IIRC.

[2018-01-07 09:08] tkem commented on #45
Can we close this?

[2018-01-07 09:08] #45 closed

[2018-01-10 19:08] #42 closed

[2018-01-11 18:49] gerroon opened #48 "Weird playlist issue"
Hi

I like this addon alot but I am having one issue with it. If I click on an episode, it starts playing which is what I want. Then I stop the episode and start playing an internet radio or an audio file, the new media does not play instead, the podcast just resumes. I am not sure why that is the case. Maybe there is a difference in the playlist behavior, or some other thing is failing.

I use Mo

[2018-01-12 11:34] jjok commented on #48
That sounds like it's an issue with the client/front-end that you're using, rather than an issue with this extension.

[2018-01-12 16:02] gerroon commented on #48
Hi

I am not sure. I have the saame issue with Musicbox web client as well. Somehow the new media is not replacing the podcast item in the queue, sometimes it will still play the podcast item even the podcast episode does not seem to be in the queue or currently playing.

I am not saying it is the podcast extension. I thought that I would mention it here first.

thanks

[2018-01-12 18:35] tkem commented on #48
Mopidy-Podcast has no control over Mopidy's play queue, so I doubt this is really a Mopidy-Podcast issue. I'd suggest posting your issue to https://discourse.mopidy.com/, since this is read by more people than the extension developer and @jjok (thanks, by the way!). Exact steps to reproduce your problem, including version number and actual podcast URLs and what kind of "new media" is not replacing

[2018-01-12 18:35] #48 closed

[2018-01-13 00:24] gerroon opened #49 "FR: Sort by date"
Hi

Most podcast apps will let you sort by date and I think that it makes sense since one will want to see the updated feeds first. It would be nice if there is a way to see the updated podcasts. Not all podcasts updated even regularly and with a long podcast list it makes hard to find what is updated. I have to click on a podcast and see if it had any updates atm.

thanks

[2018-01-17 09:30] jjok commented on #49
So, have an option in the config to order by most recently updated, and that reorders the podcasts?

[2018-01-17 12:11] tkem commented on #49
There are already options to configure the [browse](http://mopidy-podcast.readthedocs.io/en/latest/config.html#confval-podcast/browse_order) and [lookup](http://mopidy-podcast.readthedocs.io/en/latest/config.html#confval-podcast/lookup_order) order for RSS feeds.
AFAIK, OPML files don't have a "last updated" attribute, so they can't be sorted. Even if they had, this would not be very useful for lo

[2018-01-17 12:11] #49 closed

[2018-01-22 11:09] skogsmaskin opened #50 "Possibility to add url for a item without knowing guid"
What would be awesome is to support adding a url like this:

``podcast+http://podkast.nrk.no/program/dagsnytt.rss#item[0]``

for playing the most recent episode (or a specific item number in the list)

Trying to automate something that will play the latest episode from a feed.

[2018-04-07 20:40] robcazzaro opened #51 "Playback speed"
I like listening to podcasts at faster playback speed, to be able to listen to more content in the same time. Many mobile podcast apps allow to set a playback speed (i.e. 1.3x or 1.5x)

Would it be possible to add a playback speed control?

[2018-04-07 20:45] tkem commented on #51
Definitely not in an extension. That would have to be provided/controlled by Mopidy itself.

[2018-04-07 20:45] #51 closed

[2018-05-09 02:53] gerroon opened #52 "Resume does not work"
Hi

When I pause and resume a podcast (after couple minutes in pause ), the podcast playback does not resume at all. It says it is playing but no sound coming from Mopidy. If I just forward the stream couple seconds ahead (in ncmpcpp pressing "f" couple times)  then it starts playing properly again

I am on Debian Testing using Mopidy 2.1.0-2 (output = pulsesink server=127.0.0.1)

I am not sure if

[2018-05-25 07:42] riher opened #53 "Is it possible to continue playback of episodes where you left off previously?"
I don't know if mopidy extensions are capable of something like this but to me, this is an integral function of podcast apps and would be super useful.

[2018-05-27 00:10] tkem commented on #53
PRs welcome!

[2018-05-27 00:10] #53 closed

[2018-06-01 15:05] jjok commented on #53
@riher If you mean when you switch off and on again, then there's an option in Mopidy to restore the previous state which may do what you want.

https://docs.mopidy.com/en/latest/config/#confval-core/restore_state

[2018-06-01 15:17] tkem commented on #53
@jjok: Thanks, completely forgot about this since I never used it myself.

[2018-06-01 15:52] riher commented on #53
What I want mopidy to do is to continue playback for _every_ episode that was previously listened to at the position it stopped. Whenever I click the episode.

After talking to adamcik in irc I'm now preparing a PR for the mopidy core as it's apparently not a feature suited for a backend extension.

[2018-07-17 08:07] de666 opened #54 "Error when podcast strats playing"
I get this error when I try to play something from one of my podcast

[code]

the complete URI is the following

`podcast+http://www.radio24.ilsole24ore.com/podcast/lazanzara.xml#http://audio.radio24.ilsole24ore.com/radio24_audio/2018/180713-lazanzara-s.mp3`

Any solutions for this?

[2018-07-17 08:22] de666 opened #55 "Add support for seeking and duration display"
As far I can see, if I play a podcast fie (mp3 stream) through this extension it is not possible to seek the mp3  file furthermore the length it is not displayed.
On the other hand If I put the streaming url directly in mopidy as a stream, it is possible to seek the file and to see how it lasts.
I'm wondering about the reason of this different behaviour and if it is possible to add this capability

[2018-07-17 15:10] tkem commented on #54
Probably caused by an empty `<itunes:author>` tag in the podcast XML:

[code]
Though the exception is raised in Mopidy's history module, which is unrelated, this probably should be filtered by the mopidy-podcast extension (I thought it was already).

[2018-07-17 17:46] tkem commented on #55
Cannot reproduce - AFAICS, seeking and duration display works with podcasts as well, at least with Mopidy Mobile:

![image](https://user-images.githubusercontent.com/2833077/42835773-e8fe613a-89f9-11e8-932b-4c6944301767.png)

Maybe there is an issue with your podcast's metadata or your client - have you tried other podcasts?

[2018-07-17 17:52] tkem commented on #52
Since mopidy-podcast has nothing to do with pausing/resuming (it basically just forwards the episodes URL to Mopidy), I'm afraid there's nothing I can do about this.

[2018-07-17 17:52] #52 closed

[2018-07-17 18:39] tkem commented on #50
First of all, sorry this took so long!
Secondly, sorry, but I think (mis)using the URI fragment for completely different things would make this all more complicated and error-prone.
Couldn't you just retrieve all items in the podcast and then select the first (or last, or whetever) entry yourself?

[2018-07-18 07:17] de666 commented on #55
I think it is related to the `itunes:duration` tag. If this tag is present the length is displayed correctly and the seeking is possible, viceversa if this tag is missing, it is not possible to seek the podcast, however (as I wrote before), if you paste the mp3 url inside mopidy as a stream, the seeking magically appears.
Try this podcast `https://www.deejay.it/api/tool/itunes.php?id=549937` to se

[2018-07-18 09:51] tkem commented on #55
That's how it's supposed to work - if the feed doesn't contain the required metada, there's nothing this extension can do about it.

[2018-07-18 09:51] #55 closed

[2018-07-18 10:22] #50 closed

[2018-07-22 22:19] #54 closed

[2018-09-02 22:16] dubaleeiro commented on #41
Could you please provide another valid link? This seems to be invalid... thanks!

[2018-09-04 06:00] tkem commented on #41
No: https://brianhornsby.com/blog/#dmca-takedown-notice
So, screw TuneIn.

[2018-09-04 06:00] #41 closed

[2019-08-01 14:41] hav0ck opened #56 "Error retrieving Podcast.opml"
I just installed mopidy-podcast on my Ubuntu 18.04 server using `apt-get install mopidy-podcast` as per the installation instructions.

I updated the mopidy.conf file and used the default config.

Then I went to /etc/mopidy/podcast and created the Podcasts.opml file with the following as the contents:
[code]

I restarted Mopidy with: `sudo systemctl restart mopidy` and while Podcasts showed up in

[2019-08-02 08:49] tkem commented on #56
@hav0ck: Strange, looks right to me what you did. To make sure, I repeated your steps, doing a fresh install on Debian "stretch", but this shouldn't make a difference. For reference, this is my output from `mopidyctl deps`

[code]
And this is my `/etc/mopidy` directory structure:
[code]
With this setup and your Podcasts.opml file, I get
[code]

[2019-08-02 12:20] hav0ck commented on #56
Here are the same outputs on my system:

[code]

My /etc/mopidy directory structure:

[code]

But when I try the mpc command I get:

[code]

[2019-08-02 12:42] hav0ck commented on #56
Also this is the Podcast section in my mopidy.conf file

[code]

[2020-05-19 22:10] Estefanop commented on #56
im having the same issue right now, did you ever find a fix? i was able to test the URL (http://www.bbc.co.uk/podcasts.opml) and that loaded fine...

[2020-05-20 00:22] Estefanop commented on #56
welp. i was able to make it work by hosting an opml file and linking to that. used https://www.listennotes.com/ for the service. currently browsing their library of feeds.

[2020-07-26 13:46] Bougakov opened #57 "Support for <itunes:episode>"
Hi. Some podcasts turn out to have only a `<itunes:episode>n</itunes:episode>` and `<itunes:type>episodic</itunes:type>`, but not the date in their RSS feeds. Mopidy displays those in a random order.

Suggestion - if no date attribute is set, fall back to sorting by episode number.

[2020-07-26 16:10] tkem commented on #57
Sounds reasonable, can you point me to any examples where this is the case?

[2020-07-26 17:48] Bougakov commented on #57
About half of the podcasts I've tried to move to Mopidy were like that. For example, https://feeds.megaphone.fm/WWO6655869236

[2020-07-26 20:57] tkem commented on #57
@Bougakov: You're right that Mopidy-Podcast ignores the `<itunes:episode>` tags, but at least the podcast you linked to seems to provide proper `<pubDate>` tags. So these should be displayed "newest first", and not in "random order".
I only checked with Mopidy-Mobile as a client, though.

[2020-07-26 21:12] tkem commented on #56
@hav0ck, @Estefanop: Any news on this? Never was able to reproduce this issue, so any additional hints would be welcome.

[2020-07-26 21:50] Bougakov commented on #57
Hmm, strange. Here is a piece of my conf file:

[code]

Here is my `/etc/mopidy/podcast/Podcasts.opml`

[code]

`mopidy-podcast` is the newest version (3.0.0-1).

Let's check the https://feeds.megaphone.fm/WWO6655869236 The latest episode is: _Benchmarking, Brand Strategy, and Starting Fresh_, `<pubDate>Thu, 23 Jul 2020 08:00:00 -0000`. Strangely, it is displayed in the middle of the list:

![imag

[2020-07-27 08:47] tkem commented on #57
I don't know about the Iris client, but when using the MPD frontend I get this:
[code]
I get the same result with Mopidy Mobile, so I suspect Iris is using its own sorting scheme:

![image](https://user-images.githubusercontent.com/2833077/88521799-bfcc5d00-cff5-11ea-8425-6a29d91ca507.png)

[2020-08-04 18:47] Bougakov commented on #57
Filed this bug to https://github.com/jaedb/Iris/issues/576

Thanks for helping to investigate this.

[2020-08-04 18:47] #57 closed

[2021-02-07 16:17] TrollDecker opened #58 "Episode lists not changing their sort order regardless of config settings"
Heyo,

For some reason, whenever I view the episode list of a specific podcast, the list is always displayed in alphanumeric order (0-1, A-Z) of title, and neither config setting seems to change that. I've literally tried every combination of `lookup_order` and `browse_order` - `asc`/`asc`, `desc`/`desc`, `asc`/`desc` and `desc`/`asc` and the sorting order never changes.

I have `Podcasts.opml` se

[2021-02-09 22:06] TrollDecker commented on #58
Okay, I just realised this might be related to [this](https://github.com/tkem/mopidy-podcast/issues/57) issue, which in turn might be [this](https://github.com/jaedb/Iris/issues/576) issue with Iris.

Sorry to be a bother. :frowning_face:

[2021-02-09 22:06] #58 closed

[2021-02-15 20:52] #56 closed

[2021-03-09 13:19] AdmiralStipe opened #59 "Unable to play any podcast"
I imported Podcasts.opml from my Android app (Podcast Addict), placed it in config folder and Mopidy can read it allright, listing all subscribed podcasts.
But whenever I choose a podcast to play, I get an error, flashed in red "Mopidy: Failed to add some tracks". Additionally, if I check the Track Info, I get (this is example of one podcast, but's it's the same with different URI for all of them)

[2021-03-09 14:34] tkem commented on #59
Stripping the "podcast+" Prefix, what we get from [https://metinalista.si/category/ldgd/feed/%23https://metinalista.si/?p=34343](https://metinalista.si/category/ldgd/feed/%23https://metinalista.si/?p=34343) is an HTTP Redirect:
[code]
When we follow that to the `location` [https://metinalista.si/ldgd-056-ne-vem/](https://metinalista.si/ldgd-056-ne-vem/), we get an HTML page, _not_ a valid RSS feed

[2021-03-09 14:49] AdmiralStipe commented on #59
OK, thx for your prompt answer... will try to compose the oppl manually with actual RSS sources... may I leave this issue open for now, if I have additional questions?

[2021-03-09 14:59] tkem commented on #59
Sure, please also let me know if you find something out about how your app handles these...

[2021-03-09 17:42] AdmiralStipe commented on #59
Before I start inventing warm water... does this opml file (directly exported from Podcast Addict) seem OK? It seems good to me, so I don't understand, how Mopidy changes the URI to the actual episode...
[Podcasts.opml.txt](https://github.com/tkem/mopidy-podcast/files/6110372/Podcasts.opml.txt)

Also f.e. for "Wathcmen podcast" I get the error:
Could not find anything with URI podcast+https://feed

[2021-03-09 18:11] tkem commented on #59
@AdmiralStipe Sorry, I think I got somewhat confused here - it's been some time since I've been working on mopidy-podcast...

Thanks for your Podcasts.opml - it works fine on my Mopidy installation. I can't make much sense of the LD;GD podcast, but all episodes seem to play fine, so does the Watchmen podcast.

And yes, Mopidy-Podcast indeed uses the GUID from the feed to reference individual episo

[2021-03-09 18:19] tkem commented on #59
Update: I also tried with the Mopidy-MusicBox-Webclient (so I don't sound too biased), and it also plays Podcasts from the OPML file without any issues, AFAICS.

[2021-03-09 18:22] AdmiralStipe commented on #59
I'm using Mopidy server 3.56.1 and for Mopidy-Podcast I can't say (not sure where to check - I installed it today, so I guess it's the last available version) and the client (for now) is Mopidy Iris (also not sure which version, I assume the latest one)...
On the long term I want to control it from Homeassistant with an addon client (https://github.com/bushvin/hass-integrations), but that's a dist

[2021-03-09 18:27] AdmiralStipe commented on #59
OK, disregard my last message... made it running with MusicBox Webclient without problems... obviously Iris doesn't want to cooperate, but MusixBox does :).
So, for now it's OK, now I'm on a long run to make it work from Homeassistant :).

[2021-03-09 18:31] tkem commented on #59
@AdmiralStipe: Great! And good luck with your home assistant integration!

[2021-03-09 18:31] #59 closed

[2022-07-07 12:54] simontretter opened #65 "Support for Nextcloud GPodder Sync"
It would be awesome to be able to sync podcasts (queue, playback stats / position) via Nextcloud:
[GPodder Sync](https://apps.nextcloud.com/apps/gpoddersync)

[2022-07-09 07:48] djmattyg007 commented on #65
My instinct says this would likely make sense as a script that sits outside of Mopidy, rather than something that runs within Mopidy.